@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PressStart2P;
    color: darkgrey;
}

body {
    background-color: black;
}

#map {
    position: relative;
}

#map img {
    float: left;
    margin: 20px;
    width: 128px;
    height: 80px;
}

#map img:nth-child(7n + 1) {
    clear: both;
}

.passage {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
}