@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}

* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: PressStart2P;
    color: darkgrey;
    cursor: default;
}

#display {
    width: 526px;
    height: 371px;
    position: relative;
    padding: 0;
    margin: auto;
}

.splash {
    position: absolute;
    width: 526px;
    height: 371px;
    top: 0;
    left: 0;
    margin: 0;
    transition: opacity 2s;
}

#introImage {
    z-index: 3;
}

#introA {
    z-index: 2;
}

#introB {
    z-index: 1;
}

#game {
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
}

#locationImage {
    float: left;
    width: 256px;
    height: 160px;
    border: 2px solid darkgrey;
}

#compass {
    width: 256px;
    height: 160px;
    float: right;
    position: relative;
}

#compassImage {
    width: 256px;
    height: 160px;
}

.compassDirection {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: black;
}

#compassNorth {
    left: 114px;
    top: 26px;
}

#compassSouth {
    left: 120px;
    top: 130px;
}

#compassEast {
    left: 228px;
    top: 60px;
}

#compassWest {
    left: 14px;
    top: 60px;
}

#info {
    clear: both;
    line-height: 125%;
}

#inputField {
    position: absolute;
    bottom: 0;
}

#command {
    background: transparent;
    border: none;
    outline: none;
    cursor: default;
    caret-color: transparent;
    font-size: 16px;
}

#command::selection {
    background-color: darkgrey;
}

#caret {
    position: absolute;
    width: 14px;
    height: 16px;
    background-color: darkgrey;
    left: 164px;
    top: 0;
}

#victoryScreen {
    opacity: 0;
    transition: none;
    z-index: 1;
}